import random,time
import os
Kolor = 1
card = 0
Punkty = 0

o=9
i=8
u=7
y=6
t=5
r=4
e=3
w=2
j=10

a=11
a1=1

def clear():
    os.system('cls' if os.name=='nt' else 'clear')


def Kolory():
    color = random.randint(1,4)
    if(color == 1):
        Kolor = 'Pik'
    elif(color == 2):
        Kolor = 'Kier'
    elif(color == 3):
        Kolor = 'Trefl'
    elif(color == 4):
        Kolor = 'Karo'


def Cards():
    card = random.randint(2,14)

    
    if(card == 14): AS()
    
    if(card == 13): KROL()

    if(card == 12): DAMA()
    if(card == 11): JOPEK()
    if(card == 10): TEN()
    if(card == 9): NINE()
    if(card == 8): EIGHT()
    if(card == 7): SEVEN()
    if(card == 6): SIX()
    if(card == 5): FIVE()
    if(card == 4): FOUR()
    if(card == 3): THREE()
    if(card == 2): TWO()

def AS():
    #AS
    Kolory()
    
    print('Wyslosowałeś Asa',Kolor,'\n')
    d = input('Chciałbyś dostac 1pkt. czy 11pkt.(1/11)')
    if(d == '11'):
        Punkty + a
    else:
        Punkty + a1
    print('Masz',Punkty,'Pkt.')    
    y = input('Chcesz jeszcze jedną karte wziaść? Y/N')
    if(y == 'Y'):
        Cards()

def JOPEK():
    #JOPEK
    Kolory()
    
    Punkty + j
    print('Wylosowałeś Jopka',Kolor,'\n')
    print('Masz',Punkty,'Pkt.')
    time.sleep(3)
    y = input('Chcesz jeszcze jedną karte wziaść? Y/N')
    if(y == 'Y'):
        Cards()

def DAMA():
    #DAMA
    Kolory()
    
    print('wylosowałeś Dame',Kolor,'\n')
    Punkty + j
    print('Masz',Punkty,'Pkt.')
    time.sleep(3)
    y = input('Chcesz jeszcze jedną karte wziaść? Y/N')
    if(y == 'Y'):
        Cards()

def KROL():
    #KRÓL
    Kolory()
    
    print('Wylosowałeś Króla',Kolor,'\n')
    Punkty + j
    print('Masz',Punkty,'Pkt')
    time.sleep(3)
    y = input('Chcesz jeszcze jedną karte wziaść? Y/N')
    if(y == 'Y'):
        Cards()

def TEN():
    #10
    Kolory()
    
    Punkty + j
    print('Wylosowałeś 10 Dziesiątke',Kolor,'\n')
    print('Masz',Punkty,'Pkt.')
    time.sleep(3)
    y = input('Chcesz jeszcze jedną karte wziaść? Y/N')
    if(y == 'Y'):
        Cards()

def NINE():
    #9
    Kolory()
    
    Punkty + o
    print('Wylosowałeś 9 Dziewiątke',Kolor,'\n')
    print('Masz',Punkty,'Pkt.')
    time.sleep(3)
    y = input('Chcesz jeszcze jedną karte wziaść? Y/N')
    if(y == 'Y'):
        Cards()

def EIGHT():
    #8
    Kolory()
    
    Punkty + i
    print('Wylosowałeś 8 Ósemke',Kolor,'\n')
    print('Masz',Punkty,'Pkt.')
    time.sleep(3)
    y = input('Chcesz jeszcze jedną karte wziaść? Y/N')
    if(y == 'Y'):
        Cards()

def SEVEN():
    #7
    Kolory()
    
    print('Wylosowałeś 7 Siódemke',Kolor,'\n')
    Punkty + u
    print('Masz',Punkty,'Pkt.')
    time.sleep(3)
    y = input('Chcesz jeszcze jedną karte wziaść? Y/N')
    if(y == 'Y'):
        Cards()

def SIX():
    #6
    Kolory()
    
    Punkty + y
    print('Wylosowałeś 6 Szóstke',Kolor,'\n')
    print('Masz',Punkty,'Pkt.')
    time.sleep(3)
    y = input('Chcesz jeszcze jedną karte wziaść? Y/N')
    if(y == 'Y'):
        Cards()

def FIVE():
    #5 
    Kolory()
    
    Punkty + t
    print('Wylosowałeś 5 Piątke',Kolor,'\n')
    print('Masz',Punkty,'Pkt.')
    time.sleep(3)
    y = input('Chcesz jeszcze jedną karte wziaść? Y/N')
    if(y == 'Y'):
        Cards()

def FOUR():
    #4
    Kolory()
    
    Punkty + r
    print('Wylosowałeś 4 Czwórke',Kolor,'\n')
    print('Masz',Punkty,'Pkt.')
    time.sleep(3)
    y = input('Chcesz jeszcze jedną karte wziaść? Y/N')
    if(y == 'Y'):
        Cards()

def THREE():
    #3
    Kolory()
    
    Punkty + e
    print('Wylosowałeś 3 Trójke',Kolor,'\n')
    print('Masz','Pkt.')
    time.sleep(3)
    y = input('Chcesz jeszcze jedną karte wziaść? Y/N')
    if(y == 'Y'):
        Cards()

def TWO():
    #2
    Kolory()
    
    Punkty + w
    print('Wylosowałeś 2 Dwójke',Kolor,'\n')
    print('Masz',Punkty,'Pkt.')
    time.sleep(3)
    y = input('Chcesz jeszcze jedną karte wziaść? Y/N')
    if(y == 'Y'):
        Cards()
        

#Początek
print('Witaj w Black Jacku')
time.sleep(2)
Gra = input('Chesz Zagrac w Wersje, PvE czy w PvP. Lub zajrzyj do zasad gry.\n')
if(Gra == 'pvp'):
    print('W PvP walczysz z innym graczem przy jednym komputerze \n')
    Cards()
    

